.primary-button{
  background-color: var(--green);
  color: white;
}

.padding-button{
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}

.border-button{
  border-radius: 6px;
}

.secondary-button{
  background-color: var(--orange);
  color: white;
}
