.primary-button{
  background-color: var(--green);
  color: white;
}

.padding-button{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.border-button{
  border-radius: 6px;
}

.secondary-button{
  background-color: var(--orange);
  color: white;
}
