.user-information-wrapper{
  height: 200px;
  padding: 10px;
}

.user-photo{
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.user-photo-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.roles{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 10px;
}
