.signup-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/assets/backg.png");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
}

.signup-paper{
  color: white;
  background-color: var(--grey);
  padding-left: 30px;
  padding-right: 30px;
  width: 300px;
  padding-bottom: 30px;
  padding-top: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-place{
  display: flex;
  justify-content: end;
}

.logo-part{
  display: flex;
  width: 100%;
  justify-content: center;
}

.title{
  font-size: x-large;
  font-family: sans-serif;
}
