<div class="signup-wrapper">
  <form (ngSubmit)="handleSubmit()" action="" method="post" [formGroup]="userInput">
    <div class="signup-paper">
      <div class="logo-part">
        <img src="/assets/logo.png" alt="logo" height="80px" width="80px" />
      </div>
      <span class="title">SignIn</span>
      <app-input input-label="Email" [input-formControl]="userInput.get('email') | castToFormcontrol"></app-input>
      <app-input input-label="Username" [input-formControl]="userInput.get('password') | castToFormcontrol"></app-input>
        <div class="button-place">
          <app-button button-variant="secondary" button-type="submit">Next</app-button>
        </div>
      <div>
        <a href="/" [routerLink]="['/signup']" >don't have an account ?</a>
      </div>
    </div>
  </form>
</div>

