.random-meals{
  position:relative;
  width: 75%;
}

.random-meals-wrapper{
  height: 100vh;
  color: white;
  overflow-y: auto;
  background-image: url(/assets/backg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width:500px) {
  .random-meals-wrapper {
    width: 100%;
  }
}

.regenerate{
  position: fixed;
  right: 310px;
  bottom: 20px;
}

