<app-auth>
  <div class="random-meals-wrapper">
    <div class="overlay">

    </div>
    <div class="random-meals">
      <app-sidebar></app-sidebar>
      <div class="options">

      </div>
      <div class="food-list">
        <ng-container *ngFor="let meal of randomMeals">
          <app-food-section [food-section-meal]="meal"></app-food-section>
        </ng-container>
      </div>
      <div class="regenerate">
        <app-button button-variant="secondary">Regenerate</app-button>
      </div>
    </div>
  </div>
</app-auth>
