.allergies, .preferences{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.checkboxes{
  width: 300px;
  flex-wrap: wrap;
  display: flex;
  max-height: 130px;
  min-height: 130px;
  overflow-y: auto;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}

.checkboxes-wrapper{
  min-height: 150px;
  background-color: white;
  padding-top: 10px;
  border-radius: 6px;
}
