<div class="signup-wrapper">
  <form (ngSubmit)="handleSubmit()" [formGroup]="createUserSignupFormGroup">
    <div class="signup-paper">
      <div class="logo-part">
        <img src="/assets/logo.png" alt="logo" height="80px" width="80px" />
      </div>
      <span class="title">SignUp</span>

      <app-step-one
        [step-one-createUserSignupFormGroupe]="createUserSignupFormGroup"
        [step-one-showed]="step"
      >
      </app-step-one>
      <app-step-two
        [step-two-allergies]="allergies"
        [step-two-preferences]="preferences"
        [step-two-choosePreference]="handleChoosePreference"
        [step-two-chooseAllergie]="handleChooseAllergies"
        [step-two-showed]="step"
      >
      </app-step-two>
      <app-step-three
        [step-three-createUserSignupFormGroup]="createUserSignupFormGroup"
        [step-three-showed]="step"
      >
      </app-step-three>
      <div class="button-place">
        <div>
          <ng-container *ngIf="step !== 0">
            <app-button [button-variant]="1" button-type="button" [handleClick]="handleReturn.bind(this)">Return</app-button>
          </ng-container>
        </div>
        <div>
          <app-button [button-variant]="1" [button-type]="step === 2 ? 'submit':'button'" [handleClick]="handleNext.bind(this)">{{step === 2 ? 'submit' : 'next'}}</app-button>
        </div>
      </div>
      <div>
        <a href="/" [routerLink]="['/signin']" >already have an account ?</a>
      </div>
    </div>
  </form>
</div>
