<div class="signup-wrapper">
  <form (ngSubmit)="handleSubmit()"  [formGroup]="createUserSignupFormGroup">
    <div class="signup-paper">
      <div class="logo-part">
        <img src="/assets/logo.png" alt="logo" height="80px" width="80px" />
      </div>
      <app-input input-label="Email"
        [input-formControl]="createUserSignupFormGroup.get('email') | castToFormcontrol"></app-input>
      <app-input input-label="Username"
        [input-formControl]="createUserSignupFormGroup.get('username') | castToFormcontrol"></app-input>
      <app-input input-label="Firstname"
        [input-formControl]="createUserSignupFormGroup.get('firstname') | castToFormcontrol"></app-input>
      <app-input input-label="Lastname"
        [input-formControl]="createUserSignupFormGroup.get('lastname') | castToFormcontrol"></app-input>
      <div class="sex">
        <span>Sex</span>
        <select name="" id="" formControlName="sex">
          <option [defaultSelected] value="H">Homme</option>
          <option value="F">Femme</option>
        </select>
      </div>
      <div class="allergies">
        <div>Do you have allergies ?</div>
        <div class="checkboxes-wrapper">
          <app-mini-search mini-search-placeholder="Search Allergies"></app-mini-search>
          <div class="checkboxes" *ngFor="let allergie of allergies">
            <signup-checkbox [checkbox-handleChoose]="handleChooseAllergie" checkbox-label="{{allergie}}"
              checkbox-name="{{allergie}}" checkbox-value="{{allergie}}" />
          </div>
        </div>
        <div class="preferences">
          <div>Any preferences ?</div>
          <div class="checkboxes-wrapper">
            <app-mini-search mini-search-placeholder="Search preference"></app-mini-search>
            <div class="checkboxes" *ngFor="let preference of preferences">
              <signup-checkbox [checkbox-handleChoose]="handleChoosePreference" checkbox-label="{{preference}}"
                checkbox-name="{{preference}}" checkbox-value="{{preference}}" />
            </div>
          </div>
        </div>
      </div>
      <app-input input-type="password" input-label="Password"
        [input-formControl]="createUserSignupFormGroup.get('password') | castToFormcontrol"></app-input>
      <div class="button-place">
        <app-button [button-variant]="1" >signup</app-button>
      </div>
    </div>
  </form>
</div>
